* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  header{
    height: 180px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 2;
    
  }
  .logo{
    max-width: 120px;
    height: auto;
  }
  a{
    text-decoration: none;
  }
  flex{
    display: flex;
  }